.fVYbIi {
    background-image: none !important;
}

/* .sc-dlfnbm svg {
    display: none;
}

.sc-dlfnbm .sc-gsTCUz {
    display: none;
}

.sc-dlfnbm {
    display: none;
} */

.fbwDeh {
    display: none !important;
}

.sc-dmlrTW {
    display: none !important;
}